<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="${basedir}\logs\internal_logs\internallog.txt">

	<targets>
		<target name="logfiledebug" xsi:type="File"
				fileName="${basedir}/logs/${shortdate}_debuglog.txt"
				layout="${longdate} ${level:uppercase=true} ${message}"/>
		<target name="logfileerror" xsi:type="File"
				fileName="${basedir}/logs/${shortdate}_errorlog.txt"
				layout="${longdate} ${level:uppercase=true} ${message}"/>		
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" maxlevel="Warn" writeTo="logfiledebug" />
		<logger name="*" minlevel="Error" writeTo="logfileerror" />
	</rules>
</nlog>